
body {
    height: 100%;
    weight: 100%;
    margin: 0;
    padding: 0;
}

main {
  display: grid;
  height: 300px;
  width: 400px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 5px;
  height: 100px;
  width: auto;
  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  display: flex;
  align-self: end;
  position: absolute;
  font-weight: lighter;
}

#name {
  height: 50px;
  width: auto;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

#footer {
  background-color: red;
  border-radius: 0px 5px 0px 5px;
  height: 30px;
  width: auto;
}

button {
  cursor: pointer;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: white;
}

input {
  margin: 5px;
}

#counter {
  font-family: 'Courier New', Courier, monospace;
  margin: 5px;
}